.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  height: 87vh;
  right: 0;
  width: 50px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, rgba(11, 11, 11, 0.4) 0%, rgba(11, 11, 11, 0) 100%);

  .right-arrow-img {
    width: 30px;
    height: auto;
    filter: invert(85%) sepia(100%) saturate(0%) hue-rotate(7deg) brightness(106%) contrast(103%);
  }
}

.left-arrow {
  position: absolute;
  height: 87vh;
  left: 0;
  width: 50px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, rgba(11, 11, 11, 0.4) 100%);

  .left-arrow-img {
    transform: rotate(180deg);
    width: 30px;
    height: auto;
    filter: invert(85%) sepia(100%) saturate(0%) hue-rotate(7deg) brightness(106%) contrast(103%);
  }
}

.slide {
  opacity: 0;
  transition: 1s ease;
}

.slide.active {
  opacity: 1;
  transition: 1s ease;
  transform: scale(1.08);
}