.slider-container {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    transform: translateX(-${100 * currentImage}%);
}