.checkout-container {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px auto 0;
    padding-bottom: 100px;

    .checkout-items-container {
        width: 100%;
    }

    .checkout-header {
        width: 100%;
        padding: 10px 15px;
        margin-right: 50px;


        .header-block {
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 600;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .total {
        margin: 25px 0;
        margin-left: auto;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 600;
        padding-right: 20px;
    }
}


@media(max-width:900px) {
    .checkout-container {
        width: 90%;
    }
}

@media(max-width:700px) {
    .checkout-container .total {
        font-size: 14px;
    }

    .checkout-container .checkout-header .header-block {
        font-size: 14px;
    }

    .checkout-container .checkout-header {
        padding: 10px 0px;
    }
}

@media(max-width:450px) {
    .total {
        font-size: 12px;
    }

    .checkout-container {
        width: 100%;
    }

    .checkout-container .checkout-header .header-block {
        font-size: 12px;
    }
}