.button-container {
    padding: 15px 40px;
    text-align: center;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #ef233c;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    &:hover {
        color: #ef233c;
        background-color: #ffffff;
        border: #ef233c 1px solid;
    }

    &.google-sign-in {
        background-color: #d4a373;

        &:hover {
            background-color: #000000;
        }
    }

    &.checkout {
        background-color: #000000;
        color: #ffffff;
        height: 35px;

        &:hover {
            background-color: #ffffff;
            color: #000000;
            border: #000000 solid 1px;
        }
    }

    &.inverted {
        background-color: #00000000;
        color: #ffffff;
        border: 1px solid #fff;

        &:hover {
            background-color: #ffffff;
            color: #000000;
        }
    }
}