.button-container {
    height: 50px;
    padding: 15px 40px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #ef233c;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border: #ef233c solid 1px;

    &:hover {
        color: #ef233c;
        background-color: #ffffff;
        border: #ef233c 1px solid;
    }

    &.google {
        background-color: #4291ff;
        color: #ffffff;
        border: #4291ff solid 1px;

        &:hover {
            background-color: #ffffff;
            color: #4291ff;
        }
    }

    &.checkout {
        background-color: #000000;
        color: #ffffff;
        border: #000000 solid 1px;

        &:hover {
            background-color: #ffffff;
            color: #000000;
            border: #000000 solid 1px;
        }
    }

    &.inverted {
        background-color: #00000000;
        color: #ffffff;
        border: 1px solid #fff;

        &:hover {
            background-color: #ffffff;
            color: #000000;
        }
    }
}


@media(max-width:600px) {
    .button-container {
        height: 40px;
        padding: 14px 28px;
        font-size: 12px;
    }
}