.navigation {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    margin: 0;
    padding: 0;

    .main-logo-container {
        height: 100%;
        width: 8%;

        .main-logo-link {


            .main-logo {
                width: 45px;
                height: 45px;
                margin-top: 5px;
            }

        }
    }

    .navigation-container {
        width: 92%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left-navigation {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            width: 50%;

            .main-logo-container {
                height: 100%;
                width: 55px;
                margin-left: 20px;

                .main-logo {
                    width: 45px;
                    height: 45px;
                    margin-top: 5px;
                }

            }


        }

        .right-navigation {
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;

            .nav-link:first-child {
                width: 120px;
                flex-direction: row;

                .user-logo {
                    filter: invert(97%) sepia(97%) saturate(12%) hue-rotate(219deg) brightness(103%) contrast(103%);
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                }

                .logged-user-logo {
                    filter: invert(66%) sepia(45%) saturate(3259%) hue-rotate(118deg) brightness(99%) contrast(95%);
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                }
            }

            .nav-link:last-child {
                width: 120px;
                height: 55px;
                background: #ef233c;
                color: white;

                &:hover {
                    background: #ff5064;
                }
            }


        }



        .nav-link {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #dcdcdd;
            width: 80px;
            text-transform: uppercase;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            transition: 0.2s ease-in-out all;
            cursor: pointer;

            h1 {
                font-size: 11px;
                font-weight: 400;
            }

            &:hover {
                .underline {
                    transform: translateY(0px);
                }

                color: #ffffff;
            }

            .underline {
                width: 100%;
                height: 7px;
                background-color: #ef233c;
                position: absolute;
                bottom: -3px;
                transform: translateY(7px);
                transition: 0.2s ease-in-out all;

            }

            .underline-active {
                width: 100%;
                height: 7px;
                background-color: #ef233c;
                position: absolute;
                bottom: -3px;
                transform: translateY(0px);
                transition: 0.2s ease-in-out all;


            }
        }

    }



    .navigation-menu-button {
        height: 100%;
        width: 55px;
        background-color: #ef233c;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        div {
            width: 50%;
            height: 2px;
            margin: 3.55px 0;
            background-color: #ffffff;
            transition: 0.15s ease-in all;
        }
    }

    .navigation-menu-button--active {

        div:nth-of-type(1) {
            transform: rotate(45deg);
            transform-origin: top left;
        }

        div:nth-of-type(2) {
            opacity: 0;
        }

        div:nth-of-type(3) {
            transform: rotate(-45deg);
            transform-origin: bottom left;
        }

    }
}

@media(max-width:700px) {
    .navigation .main-logo-container {
        z-index: 11;
        margin-left: 10px;
    }

    .navigation .navigation-menu-button {
        display: flex;
        z-index: 11;
    }

    .navigation .navigation-container {
        width: 100%;
        height: 80vh;
        padding: 10vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000000;
        z-index: 10;
        transform: translateX(100vw);
        transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    }

    .navigation .navigation-container--visible {
        transform: translateX(0);
    }

    .navigation .navigation-container .left-navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        height: 200px;

        .cart-icon-container {
            display: none;
        }
    }

    .navigation .navigation-container .left-navigation .nav-link {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-bottom: #dcdcdd8a 1px solid;

        h1 {
            margin-left: 30px;
        }

        div {
            display: none;
        }
    }


    .navigation .navigation-container .right-navigation {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;

    }

    .navigation .navigation-container .right-navigation .nav-link {
        height: 55px;
    }

    .navigation .navigation-container .right-navigation .nav-link:first-child {
        background-color: rgba(255, 255, 255, 0.181);
        margin-bottom: 20px;
    }

    .navigation .navigation-container .right-navigation .nav-link .underline-active {
        display: none;
    }
}