.category-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
}