.register-form-container {
    height: 650px;
    width: 450px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    margin: 50px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .registering-done {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .check-logo {
            margin-top: -150px;
            filter: invert(62%) sepia(64%) saturate(730%) hue-rotate(113deg) brightness(93%) contrast(95%);
        }

        h1 {
            margin: 50px 0;
        }
    }


    .logo {
        width: 50px;
        height: auto;
    }
}