.register-form-container {
    height: 550px;
    width: 450px;
    padding: 50px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 50px 0;

    .register-form {
        width: 80%;

        div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .registering-done {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .check-logo {
            width: 120px;
            height: auto;
            margin-top: -150px;
            filter: invert(62%) sepia(64%) saturate(730%) hue-rotate(113deg) brightness(93%) contrast(95%);
        }

        h1 {
            font-size: 30px;
            margin: 50px 0;
        }
    }


    .logo {
        width: 50px;
        height: auto;
        margin-top: -50px;
    }
}

@media(max-width:600px) {
    .register-form-container .registering-done .check-logo {
        width: 90px;
    }

    .register-form-container .registering-done h1 {
        font-size: 20px;
    }
}

@media(max-width:500px) {
    .register-form-container {
        width: 350px;
    }
}

@media(max-width:400px) {
    .register-form-container {
        width: 320px;
    }
}

@media(max-width:350px) {
    .register-form-container {
        width: 300px;
    }
}

@media(max-width:300px) {
    .register-form-container {
        width: 270px;
    }
}