.product-main-container {
    width: 100%;
    height: 100%;

    .product-card-container {
        width: 230px;
        display: flex;
        flex-direction: column;
        height: 350px;
        align-items: center;
        justify-content: flex-start;
        margin: 80px 0;
        cursor: pointer;
        background-color: #ffffff;
        position: relative;
        border-radius: 20px;
        transition: 0.2s ease-in-out all;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .image-container {
            position: relative;
            width: 100%;

            img {
                width: 101%;
                height: 280px;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }

            .add-to-cart-btn {
                width: 38px;
                height: 38px;
                border-radius: 8px;
                background-color: #e63946;
                position: absolute;
                top: 20px;
                right: 20px;

                &:hover {
                    background-color: #eb646f;
                }

                .add-logo {
                    filter: invert(97%) sepia(69%) saturate(2%) hue-rotate(11deg) brightness(109%) contrast(100%);
                    width: 24px;
                    height: auto;
                }
            }
        }



        .footer {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            font-size: 18px;
            color: #000000;

            .name {
                font-size: 16px;
                margin: 0 10px;
                font-weight: 600;
                text-transform: capitalize;
            }

            .price-container {
                height: 27px;
                width: 42px;
                background-color: #8338ec;
                margin: 0 10px;
                border-radius: 8px;
            }

            .price {
                font-size: 16px;
                color: #ffffff;
                font-weight: 500;
            }
        }



    }

    .shape {
        width: 90vw;
        height: 95vh;
        border-radius: 25px;
        background: #ffffff;
        margin: 0;
        box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 5vw;
        top: 2.5vh;


        h1 {
            color: #000000;
        }

        .btn {
            background-color: blue;
            border: none;
            padding: 15px 25px;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            width: 100px;
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }
}