.product-main-container {
    width: 100%;
    height: 100%;

    .product-card-container {
        width: 230px;
        display: flex;
        flex-direction: column;
        height: 350px;
        align-items: center;
        justify-content: flex-start;
        margin: 80px 0;
        cursor: pointer;
        background-color: #ffffff;
        position: relative;
        border-radius: 20px;
        transition: 0.2s ease-in-out all;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .image-container {
            position: relative;
            width: 100%;

            img {
                width: 101%;
                height: 280px;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }

            .add-to-cart-btn {
                width: 38px;
                height: 38px;
                border-radius: 8px;
                background-color: #e63946;
                position: absolute;
                top: 20px;
                right: 20px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                &:hover {
                    background-color: #ffffff;

                    .add-logo {
                        filter: invert(36%) sepia(18%) saturate(6880%) hue-rotate(332deg) brightness(91%) contrast(99%);
                    }
                }

                .add-logo {
                    filter: invert(97%) sepia(69%) saturate(2%) hue-rotate(11deg) brightness(109%) contrast(100%);
                    width: 24px;
                    height: auto;
                }
            }
        }



        .footer {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            font-size: 18px;
            color: #000000;

            .name {
                font-size: 16px;
                margin: 0 10px;
                font-weight: 600;
                text-transform: capitalize;
            }

            .price-container {
                height: 27px;
                width: 42px;
                background-color: #8338ec;
                margin: 0 10px;
                border-radius: 8px;
            }

            .price {
                font-size: 16px;
                color: #ffffff;
                font-weight: 500;
            }
        }



    }

    .shape {
        width: 90vw;
        height: 90vh;
        border-radius: 25px;
        background: #ffffff;
        margin: 0;
        box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 5vw;
        top: 5vh;



        .game-description {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            z-index: 0;


        }

        .games-infos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            background-color: #0000004c;
            backdrop-filter: blur(5px);
            z-index: 1;
            border-radius: 0 0 15px 15px;




            .game-description {
                width: 45%;
                height: 200px;
                margin-left: 5%;

                h1 {
                    font-size: 16px;
                    color: #ffffff;
                }
            }

            .game-info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 25%;
                height: 100%;
                margin-left: 5%;

                h1 {
                    font-size: 22px;
                    font-weight: 700;
                    text-transform: capitalize;
                    color: #ffffff;
                }

                .price-container {
                    height: 27px;
                    width: 42px;
                    background-color: #8338ec;
                    margin-bottom: 10px;
                    border-radius: 8px;
                }

                .price {
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 500;
                }
            }

            .game-image-container {
                width: 20%;


                img {
                    height: 150px;
                    width: auto;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }



        }

        .close-btn {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 30px;
            right: 30px;
            border-radius: 25px;
            background-color: #ffffff;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            overflow: hidden;
            z-index: 1;

            .close-img {
                width: 25px;
                height: auto;
                filter: invert(47%) sepia(11%) saturate(380%) hue-rotate(167deg) brightness(93%) contrast(86%);
                transition: 0.15s ease-in-out all;
            }
        }
    }
}