.product-main-container {
    width: 100%;
    height: 100%;

    .product-card-container {
        width: 230px;
        display: flex;
        flex-direction: column;
        height: 380px;
        align-items: center;
        justify-content: flex-start;
        margin: 80px 20px;
        cursor: pointer;
        background-color: #ffffff;
        position: relative;
        border-radius: 5px;
        transition: 0.2s ease-in-out all;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .image-container {
            position: relative;
            width: 100%;
            height: 80%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px 5px 0 0;
            }

            .add-to-cart-btn {
                width: 38px;
                height: 38px;
                border-radius: 8px;
                background-color: #e63946;
                position: absolute;
                top: 20px;
                right: 20px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                &:hover {
                    background-color: #ffffff;

                    .add-logo {
                        filter: invert(36%) sepia(18%) saturate(6880%) hue-rotate(332deg) brightness(91%) contrast(99%);
                    }
                }

                .add-logo {
                    filter: invert(97%) sepia(69%) saturate(2%) hue-rotate(11deg) brightness(109%) contrast(100%);
                    width: 24px;
                    height: auto;
                }
            }
        }



        .product-card-footer {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            font-size: 18px;
            color: #000000;

            .name {
                font-size: 16px;
                margin: 0 10px;
                font-weight: 700;
                text-transform: capitalize;
            }



            .price {
                font-size: 16px;
                font-weight: 700;
                margin: 0 10px;
            }
        }



    }

    .game-overview {
        width: 90vw;
        height: 90vh;
        border-radius: 5px;
        background: #ffffff;
        margin: 0;
        box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.24);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 5vw;
        top: 5vh;



        .game-image-carousel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 65%;
            height: 100%;

            .game-carousel {
                width: 100%;
                height: 75%;
            }

            .game-description {
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #000000;

                .description-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    height: 60%;
                    margin-left: 30px;

                    h2 {
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: #000000a9;
                    }

                    h1 {
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }

                .description-genre {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 40%;


                    .genre {
                        height: 70%;
                        width: 50%;
                        padding-left: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        border-left: #00000046 1px solid;

                        img {
                            height: 100%;
                            width: auto;
                            object-fit: cover;
                            align-self: flex-end;
                            margin-right: 25px;
                        }

                        h2 {
                            font-size: 16px;
                            font-weight: 500;
                            text-transform: capitalize;
                            color: #000000a9;
                        }

                        .description-genre-link {
                            text-decoration: underline;
                            color: #000000;



                            h3 {
                                font-size: 16px;
                                font-weight: 500;
                                text-transform: capitalize;
                                color: #000000;
                            }
                        }
                    }

                    .genre:last-child {
                        border: none;
                    }
                }
            }

        }

        .games-infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 35%;
            height: 100%;
            color: #ffffff;
            background-color: #000000;

            .game-info-logo {
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;


                img {
                    height: 70%;
                    width: auto;
                    object-fit: cover;
                    margin-top: 50px;
                }
            }

            .game-info-btns {
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;

                h3 {
                    font-size: 28px;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin-left: 50px;
                    text-align: center;
                }

                .game-info-genre-container {
                    background-color: #303030;
                    margin-left: 50px;
                    padding: 6px 10px;
                    border-radius: 3px;

                    h2 {
                        font-size: 10px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }

                h1 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-left: 50px;
                }

                .game-info-btn-container {
                    margin-left: 45px;
                }
            }

            .game-info-desc {
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div {
                    width: 80%;
                    height: 18%;
                    border-bottom: 1px solid #ffffff3a;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: #ffffffa9;
                    }

                    h2 {
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: #ffffff;
                    }

                    .platform-logo {
                        width: 15px;
                        height: auto;

                        path {
                            fill: #ffffff;
                        }
                    }
                }
            }









        }




        .close-img {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;
            height: auto;
            transition: 0.15s ease-in-out all;
            cursor: pointer;

            &:hover {
                transform: rotate(45deg);
            }

            path {
                fill: #ffffff;
            }

        }
    }
}




@media(max-width:600px) {
    .product-main-container .product-card-container {
        width: 210px;
        height: 350px;
        margin: 40px 10px;
    }
}

@media(max-width:480px) {
    .product-main-container .product-card-container {
        width: 150px;
        height: 260px;
        margin: 20px 6px;
    }

    .product-main-container .product-card-container .product-card-footer .name {
        font-size: 12px;
    }

    .product-main-container .product-card-container .product-card-footer .price {
        font-size: 12px;
    }
}


@media(max-width:420px) {
    .product-main-container .product-card-container {
        width: 210px;
        height: 350px;
        margin: 40px 10px;
    }

    .product-main-container .product-card-container .product-card-footer .name {
        font-size: 14px;
    }

    .product-main-container .product-card-container .product-card-footer .price {
        font-size: 14px;
    }
}


@media(max-width:1300px) {
    .product-main-container .game-overview {
        flex-direction: column;
    }

    .product-main-container .game-overview .game-image-carousel {
        width: 100%;
        height: 65%;
    }

    .product-main-container .game-overview .games-infos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        color: #ffffff;
        background-color: #000000;
    }

    .product-main-container .game-overview .games-infos .game-info-logo img {
        margin-left: 30px;
        height: 50%;
    }

    .product-main-container .game-overview .games-infos .game-info-logo {
        height: 100%;
        width: 30%;
    }

    .product-main-container .game-overview .games-infos .game-info-btns {
        height: 100%;
        width: 35%;
    }

    .product-main-container .game-overview .games-infos .game-info-desc {
        height: 100%;
        width: 35%;
    }

    .product-main-container .game-overview .games-infos .game-info-btns h3 {
        margin-left: 0;
    }

    .product-main-container .game-overview .games-infos .game-info-btns .game-info-genre-container {
        margin-left: 0;
    }

    .product-main-container .game-overview .games-infos .game-info-btns h1 {
        margin-left: 0;
    }

    .product-main-container .game-overview .games-infos .game-info-btns .game-info-btn-container {
        margin-left: -5px;
    }
}

@media(max-width:1000px) {
    .product-main-container .game-overview .games-infos .game-info-logo img {
        margin-left: 0px;
        height: 35%;
    }
}

@media(max-width:900px) {
    .product-main-container .game-overview .games-infos .game-info-logo img {
        margin-left: 0px;
        height: 30%;
    }

    .product-main-container .game-overview .games-infos .game-info-btns h3 {
        font-size: 24px;
    }

    .product-main-container .game-overview .games-infos .game-info-btns h1 {
        font-size: 14px;
    }

    .product-main-container .game-overview .games-infos .game-info-desc div h1,
    .product-main-container .game-overview .games-infos .game-info-desc div h2 {
        font-size: 12px;
    }
}

@media(max-width:700px) {
    .product-main-container .game-overview .games-infos .game-info-logo img {
        height: 25%;
        margin-top: 0;
    }

    .product-main-container .game-overview .games-infos .game-info-btns h3 {
        font-size: 20px;
    }

    .product-main-container .game-overview .games-infos .game-info-btns h1 {
        font-size: 12px;
    }

    .product-main-container .game-overview .games-infos .game-info-desc div h1,
    .product-main-container .game-overview .games-infos .game-info-desc div h2 {
        font-size: 10px;
    }

    .product-main-container .game-overview .game-image-carousel .game-description .description-text h1 {
        font-size: 8px;
    }

    .product-main-container .game-overview .game-image-carousel .game-description .description-text h2 {
        font-size: 10px;
    }

    .product-main-container .game-overview .game-image-carousel .game-description .description-genre .genre h2 {
        font-size: 10px;
    }

    .product-main-container .game-overview .game-image-carousel .game-description .description-genre .genre .description-genre-link h3 {
        font-size: 10px;
    }

    .product-main-container .game-overview .game-image-carousel .game-carousel {
        width: 100%;
        height: 65%;
    }

    .product-main-container .game-overview .game-image-carousel .game-description {
        width: 100%;
        height: 35%;
    }
}

@media(max-width:600px) {
    .product-main-container .game-overview .game-image-carousel {
        width: 100%;
        height: 45%;
    }

    .product-main-container .game-overview .games-infos {
        flex-direction: column;
        height: 55%;
    }

    .product-main-container .game-overview .games-infos .game-info-logo {
        height: 25%;
        width: 100%;
    }

    .product-main-container .game-overview .games-infos .game-info-logo img {
        height: 70%;
    }

    .product-main-container .game-overview .games-infos .game-info-btns {
        width: 100%;
        height: 40%;
        align-items: center;
    }

    .product-main-container .game-overview .games-infos .game-info-desc {
        width: 100%;
        height: 35%;
    }
}