.cart-icon-container {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;


    .shopping-icon {
        width: 25px;
        height: auto;
        filter: invert(92%) sepia(0%) saturate(2111%) hue-rotate(273deg) brightness(102%) contrast(85%);
        transition: 0.15s ease-in-out all;
    }

    .item-count {
        color: #dcdcdd;
        font-size: 10px;
        font-weight: bold;
        bottom: 18px;
        position: absolute;
        transition: 0.15s ease-in-out all;
    }

    &:hover {
        .shopping-icon {
            filter: invert(97%) sepia(69%) saturate(2%) hue-rotate(11deg) brightness(109%) contrast(100%);
        }

        .item-count {
            color: #ffffff;
        }
    }


}

@media(max-width:700px) {
    .cart-icon-container .item-count {
        bottom: 3px;
    }
}