.store-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    position: relative;



    .store-products {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 50px;
    }
}