.log-in-form-container {
    height: 400px;
    width: 450px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .logo {
        width: 50px;
        height: auto;
    }

    .welcome-user {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 35px;
                text-transform: capitalize;
            }

            h1:first-child {
                color: #06d6a0;
                font-size: 30px;
            }
        }

    }

    .login-form {
        width: 80%;

        .login-btn-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;

        }
    }

}


@media(max-width:500px) {
    .log-in-form-container {
        width: 350px;
    }

    .log-in-form-container .login-form .login-btn-container {
        flex-direction: column;
    }
}

@media(max-width:400px) {
    .log-in-form-container {
        width: 320px;
    }
}

@media(max-width:350px) {
    .log-in-form-container {
        width: 300px;
    }
}

@media(max-width:300px) {
    .log-in-form-container {
        width: 270px;
    }
}