.log-in-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 450px;
    background-color: #ffffff;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .logo {
        width: 50px;
        height: auto;
    }

    .welcome-user {
        display: flex;
        flex-direction: column;

        h1 {
            margin-bottom: 50px;
        }
    }

    .login-form {
        width: 80%;
        height: 80%;


        .login-btn-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 35%;

            .google-btn {
                width: 100%;
                height: 50px;
                border: none;
                border-radius: 2px;
                color: white;
                background-color: #3a86ff;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                transition: 0.2s ease-in-out all;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin: 0;
                padding: 0;

                &:hover {
                    color: #3a86ff;
                    background-color: #ffffff;
                    border: #3a86ff 1px solid;

                }

                div {
                    margin-left: 2px;
                    height: 45px;
                    width: 45px;
                    background: #ffffff;
                }

                span {
                    margin-left: 60px;
                }
            }
        }
    }

}